<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic App - 2
    </ion-title>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>
      <h2>Cadastro</h2>
      <form [formGroup]="cadastro" (ngSubmit)="postDados()">
            <ion-list>
                  <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text" name="nome" formControlName="nome"></ion-input>
                  </ion-item>
                  <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" name="email" formControlName="email"></ion-input>
                  </ion-item>
                  <ion-item>
                        <ion-label floating>Senha</ion-label>
                        <ion-input type="password" name="senha" formControlName="senha"></ion-input>
                  </ion-item>
            </ion-list>
                        <button [disabled]="cadastro.invalid" ion-button full block color="danger">Enviar</button>
                  
      </form>
           <p ion-text> {{ cadastro.value.nome }}</p>
      <!--h2>Cadastro 2</h2>
      <form #f="ngForm" (ngSubmit)="postDados(f)" novalidate>
            <ion-list>
                  <ion-item>
                        <ion-label floating>Nome</ion-label>
                        <ion-input type="text" name="nome" ngModel #nome="ngModel"></ion-input>
                  </ion-item>
                  <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input type="email" name="email" ngModel #email="ngModel"></ion-input>
                  </ion-item>
                  <ion-item>
                        <ion-label floating>Senha</ion-label>
                        <ion-input type="password" name="senha" ngModel #senha="ngModel"></ion-input>
                  </ion-item>
                  <ion-item>
                        <button ion-button full block color="danger">Enviar</button>
                  </ion-item>
            </ion-list>
      </form>
      <p>Valor do formulário: {{f.value | json}}</p>
      <p>Valor do formulário: {{f.invalid}}</p-->
      <button ion-button full (click)="mostraNome()">mostra nome</button>
       <!--<ion-card>
             <ion-card-content *ngFor="let user of users">
                   <h1 *ngIf="nomes">{{user.nome}}</h1>
                   <p>{{user.email}}</p>
             </ion-card-content>
       </ion-card>-->

       <ion-list *ngFor="let user of users">
             <ion-item-sliding>
                   <ion-item>
                         <h1 *ngIf="nomes">{{user.nome}}</h1>
                         <p>{{user.email}}</p>
                   </ion-item>
                   <ion-item-options side="right">
                         <button ion-button color="danger" (click)="deletarPerfil(user)">
                               Deletar
                         </button>
                   </ion-item-options>
                   <ion-item-options side="left">
                         <button ion-button color="secondary" (click)="editarPerfil(user)">
                               Editar
                         </button>
                   </ion-item-options>
             </ion-item-sliding>
       </ion-list>
</ion-content>
